* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* header */
.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    color: #f9faf8;
    font-size: 24px;
}

.header__nav {
    display: flex;
    gap: 30px;
}

.header__nav a {
    color: white;
    text-decoration: none;
}

/* main hero */

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1f2937;
    display: flex;
    flex: auto;
}

.hero__content {
    flex: 1;
}

.hero__heading {
    color: white;
    font-size: 48px;
    font-weight: 900;
}

.hero__description {
    color: #e5e7eb;
    font-size: 18px;   
}

.hero__btn {
    background-color: #3882f6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.hero__image__container {
    background-color: grey; 
    flex: 1;
}

/* main information */

.info {
    flex: auto;
}

.info__content {
    text-align: center;    
}

.info__blocks__container {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.info__img {
    border: 2px solid #3882f6;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

/* quote */ 

.quote {
    flex: auto;
}

.quote__content {
    background-color: #e5e7e5;
}

/* cta */

.cta {
    flex: auto;
}